#result{
    color:#66ff66;
}
body{
background-image:url("https://secure.static.tumblr.com/b541803191caf08f1a8790fa44842ce3/fcbjrfp/39en2dnw4/tumblr_static_anime-girl-with-headphones-anime-hd-wallpaper-1920x1080-4277.jpg");
text-align:center;
}
ul{
    list-style:none;
}
h1{
    color:silver;
}